body{
	margin: 0;
	padding: 0;
	background: url("https://media.discordapp.net/attachments/816243068205924393/931871757374205952/15993.jpg?width=640&height=427") no-repeat;
	background-size: cover;
}
.box{
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;	
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: white;
	font-family: 'Century Gothic', sans-seif;
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
	color: #020202;
}
