body{
	margin: 0;
	padding: 0;
	background: url("https://images-ext-1.discordapp.net/external/MU-pdVnkeyjgRtyQnAUiG0VX_tUZP9HO4A5xwGSy2_w/%3Frik%3DxLMhAIlLJKMauw%26riu%3Dhttp%253a%252f%252fpavbca.com%252fwalldb%252foriginal%252fb%252f9%252ff%252f15993.jpg%26ehk%3DCmWgvjpER16btNi1kWySVr0gdU5ofH3JyJU3pgFutjo%253d%26risl%3D%26pid%3DImgRaw%26r%3D0/https/th.bing.com/th/id/R.c6042f1f6da8e0daf67cc75b06b45948?width=640&height=427") no-repeat;
	background-size: cover;
}
.box{
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;	
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	color: white;
	font-family: 'Century Gothic', sans-seif;
}
.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}
.box h1{
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}
.box h5{
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 100;
}
.box p{
	text-align: justify;
}
ul{
	margin: 0;
	padding: 0;
}
.box li{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out 250ms;
}
.box li a:hover{
	color: #020202;
}
